%form{action: '/auth/discord', method: 'post'}
  -#%input{name: 'identifier', type: 'text'}/
  %input{name: 'authenticity_token', type: 'hidden', value: request.env['rack.session']['csrf']}
  %input{type: 'submit', value: 'Sign in with OpenID'}/