.h1
  Liste des campagnes

%table.table
  %thead
    %tr
      %th
        Campagne
      %th
        Admin

  %tbody
    - @players.each do |player|
      %tr
        %td= player.campaign.name
        %td= player.admin ? 'Oui' : 'Non'


%a{ role: :button, class: 'btn btn-primary btn-block', href: '/campaign/new'}
  Créer une campagne
